*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: thistle;
}
.Space_Craft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 9px;
}
.Space_Craft .cont{
    height: 400px;
    width: 270px;
    border: none;
    position: relative;
    border-radius: 8px;
}

.Space_Craft .cont:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.Space_Craft .card{
    height: 100%;
    width: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.Space_Craft .front,.back{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: aqua;
    border-radius: 12px;
    backface-visibility: hidden;
}
.Space_Craft .shadow_space{
    height: 405px;
    width: 270px;
    position: absolute;
    box-shadow: inset -1px -20px 20px 0px #000000d6;
}

.Space_Craft .front img{
    height: 401px;
    width: 272px;
    object-fit: cover;
}
.Space_Craft .wid img{
    object-fit: fill;
}
.Space_Craft .front h3{
    position: absolute;
    bottom: 1.8vh;
    padding-left: 16px;
    font-size: 1.7rem;
    color: white;
}
.back{
    transform: rotateY(180deg);
    background-color: red;
}
.blur{
    height: 405px;
    width: 270px;
    position: absolute;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Space_Craft .back img{
    height: 455px;
    width: 360px;
    object-fit: cover;
}
.blur h3{
    font-size: 1.7rem;
    color: white;
}
.box1{
    height: 30vh;
    width: 40vw;
    background-color: #0e0e10
}
.box2{
    height: 30vh;
    width: 40vw;
    background-color: #101113;
}
.box3{
    height: 30vh;
    width: 40vw;
    background-color: #25262b;
}
.box4{
    height: 30vh;
    width: 40vw;
    background-color: #252523;
}
.box5{
    height: 30vh;
    width: 40vw;
    background-color: #1d1d1d;
    /*ok*/
}
.box6{
    height: 30vh;
    width: 40vw;
    background-color: #070d2d;
}
.box7{
    height: 30vh;
    width: 40vw;
    background-color: #081845;
}
.box8{
    height: 30vh;
    width: 40vw;
    background-color: #1a0d0a;
}
.box9{
    height: 30vh;
    width: 40vw;
    background-color: #19185a;
}
.box10{
    height: 30vh;
    width: 40vw;
    background-color: #292a3e;
}
.box11{
    height: 30vh;
    width: 40vw;
    background-color: #1e1e2a;
}
.box12{
    height: 30vh;
    width: 40vw;
    background-color: #44404d;
}
.box11{
    height: 30vh;
    width: 40vw;
    background-color: #292627;
}
.box12{
    height: 30vh;
    width: 40vw;
    background-color: #121212;
}
.box13{
    height: 30vh;
    width: 40vw;
    background-color: #0b0b0c;
}
.box14{
    height: 30vh;
    width: 40vw;
    background-color: #111111;
}
.box15{
    height: 30vh;
    width: 40vw;
    background-color: #2f2f2f;
}
.box16{
    height: 30vh;
    width: 40vw;
    background-color: #1c1c1c;
}
.box17{
    height: 30vh;
    width: 40vw;
    background-color: #3b3b3b;
}
.box18{
    height: 30vh;
    width: 40vw;
    background-color: #050206;
}
.box19{
    height: 30vh;
    width: 40vw;
    background-color: #1f2032;
}
.box20{
    height: 30vh;
    width: 40vw;
    background-color: #161616;
}
.box21{
    height: 30vh;
    width: 40vw;
    background-color: #191a21;
}
.box22{
    height: 30vh;
    width: 40vw;
    background-color: #1f2032;
}
.class{
    color: white;
    background: linear-gradient(180deg,#1e1e2a, #005);
    font-weight: 700;
    font-weight: 23px;
}
